$transition-option-default: 0.2s ease-out;

$score-table-width: 30%;
$score-table-height: 90vh;

$user-lists-width: 20%;

$dice-board-width: 100% - $score-table-width - $user-lists-width;
$dice-board-height: 75vh;
$dice-size: 7vmin;

$bottom-messages-width: 40%;
