@import "../config.scss";

.app-page {
  width: 100%;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;

  transition: left $transition-option-default;
}

@for $i from -1 through 1 {
  .app-page-#{$i + 1} {
    left: $i * 100vw;
    @if $i == 0 {
      opacity: 1;
    } @else {
      opacity: 0;
    }
  }
}
