/**
        & .dice {
          position: absolute;

          transition: all $transition-option-default;

          width: $dice-size;
          height: $dice-size;

          &.dice-disabled {
            opacity: 0.9;
          }

          &.dice-idle {
            opacity: 0.8;
            top: 50%;
            left: 50%;
          }
          &.dice-fixed {
            left: 50%;
            top: 25%;
          }

          &.dice-rolled {
            left: 50%;
            top: 50%;
          }

          &.dice-rolling {
            left: 50%;
            top: 50%;
          }

          @for $i from 0 to 5 {
            &.dice-idle-#{$i} {
              animation: dice-idle-#{$i} 12s linear infinite;
            }
            @keyframes dice-idle-#{$i} {
              0% {
                transform: translate(-50%, -50%) rotate(calc(-72deg * #{$i}))
                  translate(#{$dice-size * -2}) rotate(calc(72deg * #{$i}));
              }
              100% {
                transform: translate(-50%, -50%) rotate(calc(-360deg - 72deg * #{$i}))
                  translate(#{$dice-size * -2}) rotate(calc(360deg + 72deg * #{$i}));
              }
            }
            &.dice-fixed-#{$i} {
              transform: scale(0.7, 0.7) translate(#{115% * ($i - 2)}, -50%);
            }
            &.dice-rolled-#{$i} {
              transform: translate(#{115% * ($i - 2)}, -50%);
            }
            &.dice-rolling-#{$i} {
              animation: dice-rolling-#{$i} 4s linear infinite;
            }
            @keyframes dice-rolling-#{$i} {
              0% {
                transform: translate(-50%, -50%) rotate(#{-72deg * $i})
                  translate(#{$dice-size * -1}) rotate(#{72deg * $i});
              }
              100% {
                transform: translate(-50%, -50%) rotate(#{-360deg - 72deg * $i})
                  translate(#{$dice-size * -1}) rotate(#{720deg + 72deg * $i});
              }
            }
          }
        }*/
