@import "../config.scss";

.dice-board-container {
  position: relative;
  left: 0;
  top: 0;
  width: $dice-board-width;
  height: $dice-board-height;
  //border: 1px solid black;

  & .center-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & .roll-count-box {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > span {
      margin: 2px;
    }
  }
}
