@import "../config.scss";

.bottom-messages {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;

  width: $bottom-messages-width;
  bottom: 10px;
  right: 10px;

  & .bottom-message {
    margin: 5px;
  }
}
