@import "../config.scss";

.score-table-container {
  //display: flex;
  //flex-direction: column;
  //align-content: flex-end;
  width: $score-table-width;
  //height: $score-table-height;
  &,
  & * {
    transition: all $transition-option-default;
  }

  & .score-table {
    float: right;
    width: 100%;
  }
}
