@import "../../config.scss";

.user-list-cell {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;

  &,
  & * {
    transition: all $transition-option-default;
  }

  & .tags {
    margin: 0 8px;
  }

  & .tag {
    margin: 0;
  }
}
