@import "../../config.scss";

.dice {
  position: absolute;
  transition: all $transition-option-default;

  &.dice-idle {
    opacity: 0.8;
    top: 70%;
    left: 50%;
  }

  &.dice-fixed {
    left: 50%;
    top: 25%;
  }

  &.dice-rolled {
    left: 50%;
    top: 40%;
  }

  &.dice-rolling {
    left: 50%;
    top: 50%;
  }

  @for $i from 0 to 5 {
    &.dice-index-#{$i} {
      &.dice-idle {
        animation: dice-idle-#{$i} 12s linear infinite;
      }
      &.dice-fixed {
        transform: translate(-50%, 0)
          scale(1.1, 1.1)
          translate(#{120% * ($i - 2)}, -50%);
      }
      &.dice-rolled {
        transform: translate(-50%, 0)
          scale(1.2, 1.2)
          translate(#{130% * ($i - 2)}, -50%);
      }
      &.dice-rolling {
        animation: dice-rolling-#{$i} 2s linear infinite;
      }
      @keyframes dice-idle-#{$i} {
        0% {
          transform: translate(-50%, -50%) rotate(calc(-72deg * #{$i}))
            translate(-300%) rotate(calc(72deg * #{$i}));
        }
        100% {
          transform: translate(-50%, -50%) rotate(calc(-360deg - 72deg * #{$i}))
            translate(-300%) rotate(calc(360deg + 72deg * #{$i}));
        }
      }
      @keyframes dice-rolling-#{$i} {
        0% {
          transform: translate(-50%, -50%) rotate(#{-72deg * $i})
            translate(-100%) rotate(#{72deg * $i});
        }
        100% {
          transform: translate(-50%, -50%) rotate(#{-360deg - 72deg * $i})
            translate(-100%) rotate(#{360deg * 3 + 72deg * $i});
        }
      }
    }
  }
}
